mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    div.video-mixin__thumb 
    div.video-mixin__data
      span.video-mixin__title=video.title
      div.video-mixin__meta
        span #{video.owner.username} •
        span #{video.meta.views} 회
    //- (href=`/videos/${info.id}`)=info.title
      //- p=info.description
      //- ul
      //-   each hashtag in info.hashtags
      //-     li=hashtag
      //- small=info.createdAt
      //- hr