extends base
block content
  if errorMestasage 
    span=errorMessage
  form(method="POST", enctype="multipart/form-data").edit-profile__form
    label(for="avatar") Avatar 
    input(type="file" id="avatar" name="avatar" accept="image/*")
    input(name="name" , type="text", placeholder="name", required , value=loggedInUser.name)
    input(name="email" , type="email", placeholder="email", required , value=loggedInUser.email)
    input(name="username" , type="text", placeholder="username", required , value=loggedInUser.username)
    input(name="location" , type="text", placeholder="location", required , value=loggedInUser.location)
    input(type="submit", value="Update profile")
    if !loggedInUser.socialOnly
      div.edit-profile__password
        a(href="change-password") Change Password &rarr;
  