extends base
include mixins/video

block content 
  video(src=`/${video.fileUrl}`, width="900" height="600" controls)
  div
    p=video.description 
    small=video.createdAt
    br
    span #{video.meta.views} #{video.meta.views <=1? "view":"views"}

  a(href=`${video.id}/edit`) Edit Video  &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video  &rarr;